@model BOL_business_object_layer_.tbl_MakeMyTrip
@{
    ViewBag.Title = "BookATrip";
    Layout = "~/Views/Shared/_MainDesign.cshtml";
}

<head>

    <style>


        .InputCursor {
            cursor: pointer;
        }
        .DropDownStyle{
            display:unset !important;
        }
         .DropDownStyle ul li{
           margin-top:20px !important;
        }
        .nice-select {
            display: none;
       
        }

      
    </style>



</head>


<!--================Home Banner Area =================-->
<section class="banner_area ">
    <div class="banner_inner overlay d-flex align-items-center">
        <div class="container">
            <div class="banner_content">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="book-trip.html">Book a Trip</a>
                </div>
                <h2>Book a Trip</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================ Start Book a Trip Area =================-->
<section class="trip-area section_gap">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-7 col-md-10">
                <div class="col-md-12 p-0">
                    @if (@TempData["SENT"] != null)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <i class="fa fa-check-circle"></i>     @TempData["SENT"]
                        </div>
                    }
                    @if (@TempData["FAILED"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <i class="fa fa-check-circle"></i>     @TempData["SENT"]
                        </div>
                    }
                </div>
                <div class="trip-form-section">
                    <h1>
                        Book a Trip <br>
                        for your next Tour
                    </h1>
                    @using (Html.BeginForm("BookATrip", "Comman", FormMethod.Post, new { @class = "trip-form-area trip-page-form trip-form text-right" }))
                    {
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" id="name" name="name" placeholder="Location" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Specific Location (Optional)'">
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>


                        @*<div class="form-group col-md-12">

                            @Html.DropDownListFor(model => model.Item_ID, Model.ItemList as SelectList, "Select Item", new { @class = "form-control col-md-12 DropDownStyle" })

                            Method of creating dropdown list in mvc using simple hmtl
                            
                            <select name="Package_ID" id="Package_ID"  data-val="true" class="form-control DropDownStyle" >
                                   <option value="">Select</option>
                                   @{
                                       var item = Model.ItemList.ToList();
                                       foreach (var itemss in  item)
                                       {                    
                                           <option  value="@itemss.Value"> @itemss.Text </option>
                                       }
                                    }
                             </select>
                        </div>*@




                        <div class="form-group col-md-12">

                            @Html.DropDownListFor(model => model.Package_ID, Model.PackageList as SelectList, "Select Package", new { @class = "form-control col-md-12 DropDownStyle" })


                        </div>

                        <div class="form-group col-md-12">

                            @Html.DropDownListFor(model => model.Guide_ID, Model.GuideList as SelectList, "Select Guide", new { @class = "form-control col-md-12 DropDownStyle" })

                        </div>

                        <div class="form-group col-md-12">

                            @Html.DropDownListFor(model => model.Hotel_ID, Model.HotelList as SelectList, "Select Hotel", new { @class = "form-control col-md-12 DropDownStyle" })

                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor datepicker" autocomplete="off" id="From" name="From" placeholder="From" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'From'">
                            @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor datepicker" autocomplete="off" id="To" name="To" placeholder="To" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'To'">
                            @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" id="Adults" name="Adults" placeholder="Adults" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Adults'">
                            @Html.ValidationMessageFor(model => model.Adults, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" name="Child" placeholder="Child" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Child'">
                            @Html.ValidationMessageFor(model => model.Child, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" id="Name" name="Name" placeholder="Name" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Name'">
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" id="Email" name="Email" placeholder="Email" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Email'">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" id="Phone" name="Phone" placeholder="Phone" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Phone'">
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" id="Nic" name="Nic" placeholder="Nic" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Nic'">
                            @Html.ValidationMessageFor(model => model.Nic, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-md-12">
                            <input type="text" class="form-control InputCursor" id="Address" name="Address" placeholder="Address" onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Address'">
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group col-md-12">

                            <div class="" style=" border: 0; padding: 0px 20px; font-size: 13px; background: rgba(119, 135, 146, 0.8); color: #ffffff; height: 89px; line-height: 40px; border-radius: 0px;">

                                <div style="display:flex">
                                    <label style="margin: 0; height: 30px;">Transport</label>
                                </div>
                                <div style="display:flex">

                                    <div class="radio" style="padding-right: 13px;">

                                        <label><input type="radio" name="Transport" value="HIACE" class="InputCursor" style="margin-right: 8px;">HIACE (13 - 26 P) </label>
                                    </div>
                                    <div class="radio" style="padding-right: 13px;">
                                        <label><input type="radio" name="Transport" class="COACH" style="margin-right: 8px;">COACH (19 - 25 P)</label>
                                    </div>
                                    <div class="radio" style="padding-right: 13px;">
                                        <label><input type="radio" name="Transport" class="CAR" style="margin-right: 8px;">CAR (3 - 4 P) </label>
                                    </div>

                                </div>

                            </div>

                        </div>




                        @*<div class="form-group col-md-12">

                            <div class="" style="border: 0; padding: 0px 20px; font-size: 13px; background: rgba(119, 135, 146, 0.8); color: #ffffff; height: 89px; line-height: 40px; border-radius: 0px;">

                                <div style="display:flex">
                                    <label style="margin: 0; height: 30px;">Guide</label>
                                </div>
                                <div style="display:flex">

                                    <div class="radio" style="padding-right: 13px;">
                                        <label><input type="radio" name="Guide" value="Yes" style="margin-right: 8px;">Yes </label>
                                    </div>
                                    <div class="radio" style="padding-right: 13px;">
                                        <label><input type="radio" name="Guide" value="No" style="margin-right: 8px;">No</label>
                                    </div>


                                </div>

                            </div>
                        </div>*@


                        <div class="form-group col-md-12">

                            <div class="" style="border: 0; padding: 0px 20px; font-size: 13px; background: rgba(119, 135, 146, 0.8); color: #ffffff; height: 89px; line-height: 40px; border-radius: 0px;">

                                <div style="display:flex">
                                    <label style="margin: 0; height: 30px;">Others</label>
                                </div>
                                <div style="display:flex">

                                    <div class="radio" style="padding-right: 13px;">
                                        <label><input type="radio" name="Others" value="Tent with sleeping bags and matters" style="margin-right: 8px;">Tent with sleeping bags and matters and kitchen accessory </label>
                                    </div>
                                    @*<div class="radio" style="padding-right: 13px;">
                                        <label>
                                            <input type="radio" name="Others" value="kitchen accessory" style="margin-right: 8px;">kitchen accessory
                                        </label>
                                    </div>*@


                                </div>

                            </div>
                        </div>


                        <div class="col-lg-12 text-center">



                            <button class="primary-btn text-uppercase" value="submit" type="submit">Book</button>
                        </div>

                    }


                </div>
            </div>
        </div>
</section>
<!--================ End Book a Trip Area =================-->
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        //due to html.droplist there were two dropdowns so i have removed one with js which i dont need
        $(".nice-select").remove();

        //$.fn.datepicker.defaults.format = 'dd-M-yyyy';
        //$('.datepicker').on('click', function (e) {
        //   e.preventDefault();
        //   $(this).attr("autocomplete", "off");  


        // });
    });
</script>