@model Mixed_Models.PackagesCustomModel

@{
    ViewBag.Title = "AddPackages";
    Layout = "~/Views/Shared/_AdminPannelLayout.cshtml";
}

<head>

    <link href="~/DashBoard/template/assets/css/addPackage.css" rel="stylesheet" />
    <link href="~/my_css/RegistrationForms.css" rel="stylesheet" />
</head>


<div class="col-lg=8 col-md-8 AddPackageToDiv">
    <div class="sb2-2-add-blog sb2-2-1">
        <div class="box-inn-sp">
            <div class="inn-title">


                @if (TempData["Package_added"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <i class="fa fa-check-circle"></i>  @TempData["Package_added"]

                    </div>
                }
                else if (TempData["Package_not_added"] != null)
                {


                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <i class="fa fa-times-circle"></i> @TempData["Package_not_added"]
                    </div>

                }
                else
                {


                    <h4>Add New Package</h4>



                }

                <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
            </div>
            <div class="bor">


                @using (Html.BeginForm("AddPackage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {


                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.PackageName, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "Package Name" } })

                        </div>

                    </div>



                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.Location, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "Location" } })

                        </div>

                    </div>



                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.Date, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "Date" } })

                        </div>

                    </div>





                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.Month, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "Month" } })

                        </div>

                    </div>



                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.NoOfDays, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "Number Of Days" } })

                        </div>

                    </div>




                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.SpotSiteSeeing, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "SpotSiteSeeing" } })

                        </div>

                    </div>



                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.Standard, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "Standard" } })

                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">

                            @Html.EditorFor(model => model.Packages.Contact, new { htmlAttributes = new { id = "list-title", type = "text", @class = "validate FontSize", placeholder = "Contact Number" } })

                        </div>

                    </div>


                    <div class="row">
                        <div class="input-field col s12">


                            @Html.TextAreaFor(model => model.Packages.PackageDescription, new
                            {
                                id = "list-title",
                                type = "text",
                                @class = "validate FontSize",
                                placeholder = "Package Description",
                           @style = "outline: none;  border: 1px solid #9e9e9e;   resize: none; margin-bottom: 31px;"
                            })

                        </div>

                    </div>










                    <div class="row">
                        <div class="input-field col s12">
                            <div class="file-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" class="upload-button" name="UserImageFiles">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate FontSize" type="text" placeholder="Upload Loctaion Image">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 " id="formImg2">
                        <div class="image-container" style="width:86%;">

                            <img src="~/Images/No_Image_Available.jpg" class="img-responsive upload-img" />

                            <div class="image-up row ">

                                <i class="fas fa-camera icon-camera"></i>

                                <p class="upload-img-text">Uplaod image here</p>

                            </div>

                            <div class="clossing-smybol close-x">
                                <span aria-hidden="true" style="font-size: 20px;">&times;</span>
                            </div>

                            <div class="alert alert-danger alert-custom"><p>only 3500 , 2900 pixel image is allowed </p></div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="input-field col s12">
                            <i class="waves-effect waves-light btn-large waves-input-wrapper" style=""><input type="submit" class="waves-button-input kk" value="Submit"></i>
                        </div>
                    </div>




                }
            </div>
        </div>
    </div>


</div>
<script src="~/DashBoard/template/assets/vendor/jquery/jquery.min.js"></script>




<script type="text/javascript">


//    window.onload = function() {
//    if (window.jQuery) {  
//        // jQuery is loaded  
//        alert("Yeah!");
//    } else {
//        // jQuery is not loaded
//        alert("Doesn't Work");
//    }
//}


    $('.upload-img').click(function () {

        uploadimage();

    });



    $('.image-up').click(function () {

        uploadimage();

    });


    function uploadimage() {

        $('.upload-button').trigger('click');
    }



    $('.upload-button').change(function () {


        if (this.files && this.files[0]) {

            var fileReader = new FileReader();

            //FilerReader webapp ko user k computer say file read krne mai madad deta hai

            fileReader.readAsDataURL(this.files[0]);

            //filerader.onload mtlb jab file load ho jaye

            fileReader.onload = function (x) {

                //new image () image ka constructor hai jis image ka obj initilaize hoga   image = <img src="" width="" heifht="">

                var image = new Image();

                //x(event) .targer.result ka mtlb h x(event) jo target huwa hai is result m wo value ai gi jis ki waja say event tagert huwa

                image.src = x.target.result;

                image.onload = function () {

                    var width = this.width;
                    var height = this.height;



                    //alert("width :" + width + "height :" + height + "type :" + type );

                    if (width <= "3500" && height <= "2933") {

                        $('.upload-img').attr('src', x.target.result);

                        $('.upload-img').css({ 'width': '100%', 'height': '315px' });


                        //X thore disturb ho jata tha after image upload ye line us ki setting k leye hai

                        $(".clossing-smybol").css({ "left": "290px", "bottom": "320px" });




                    }
                    else {

                        $('.alert-custom').css('visibility', 'visible');
                    }

                }





            }
        }


        $('.close-x').click(function () {

            $('.upload-img').attr('src', "/images/No_Image_Available.jpg");


        });

    });

</script>
