@model IEnumerable<BOL_business_object_layer_.Hotle_Images_Custom_Model2>

@{
    ViewBag.Title = "Avalible Hotels";
    Layout = "~/Views/Shared/_AdminPannelLayout.cshtml";
}

<head>
    <style>

        .AdminTable td {
            padding-bottom: 18px !important;
            padding-top: 18px !important;
        }
        .Editbutton
        {
            padding: 6px 28px;
            margin-bottom: 11px;
        }
    </style>


</head>



<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            @if (TempData["Hotels_Delete"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <i class="fa fa-times-circle"></i>  @TempData["Hotels_Delete"]
                </div>

            }
            else if (TempData["hotel_Created"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <i class="fa fa-times-circle"></i>  @TempData["hotel_Created"]
                </div>

            }
            else if (TempData["hotel_Not_Created"] != null)
            {

                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <i class="fa fa-times-circle"></i> @TempData["hotel_Not_Created"]
                </div>

            }


            <div class="row">

                <div class="col-md-12">
                    <!-- TABLE NO PADDING -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Current Guides</h3>
                        </div>
                        <div class="panel-body no-padding">
                            <table class="table table table-striped AdminTable">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Location)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Gov_License)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Standard)
                                        </th>
                                        <th>

                                            @Html.DisplayNameFor(model => model.Charges)
                                        </th>

                                        <th>

                                            Image
                                        </th>
                                        <th>
                                            
                                        </th>
                                        <th>
                                            
                                        </th>
                                        <th>
                                            
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gov_License)
                                        </td>


                                        <td style="padding-left: 47px;">
                                            @Html.DisplayFor(modelItem => item.Standard)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Charges)
                                        </td>


                                        @for (int i = 0; i < 4; i++)
                                        {
                                            <td style="width: 117px;">
                                                @*src="@Url.Content(Model.Images[k].Images)"*@
                                                @*src="@Html.DisplayFor()"*@

                                                @if (item.Images.Count() > i)
                                                {
                                                <img src="@Url.Content(item.Images[i].Images)" alt="No Image Avaliable" class="img-responsive upload-img" style=" height:72px; " />

                                                }
                                                else
                                                {
                                                <img src="/images/No_Image_Available.jpg" alt="No Image Avaliable" class="img-responsive upload-img" style=" height:72px; " />

                                                }
                                            </td>
                                        }



                                    <td>
                                        <button type="button" class="btn btn-primary Editbutton">
                                            <i class="fa fa-refresh"></i>
                                            @Html.ActionLink("Edit", "EditHotels2", "Admin", new { id = item.ID }, new { @style = "color:white;"})




                                        </button>

                                        <button type="button" class="btn btn-danger ">
                                            <i class="fa fa-trash-o"></i>
                                            @Html.ActionLink("Delete", "DeleteHotels2", "Admin", new { id = item.ID }, new { @style = "color:white;" })


                                        </button>




                                    </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TABLE NO PADDING -->
                </div>
            </div>




        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- END MAIN -->